.adminButtons{
	width: 12VW  ;
	/* height:  20px; */
    display: flex;
    justify-content: space-between;
	position: relative;
	top:-9.5VW; 

}
.icons{
font-size: 1.5VW!important;
color: #684529;

}
/* Nouvelles règles si la fenêtre fait au plus 1024px de large */
@media screen and (max-width: 1024px)
{
    .icons{
        font-size: 1.5VW!important;
        color: blue;
        
        }
}