.adminButtons {
	width: 12vw;
	/* height:  20px; */
	/* display: flex;
    justify-content: space-between; */
	position: relative;
	/* bottom: 5vw; */
	top: -13vh;
	/* top: -15vh; */
	left: 6vw;
}
.icons {
	font-size: 2vw !important;
	/* color: #f0093f; */
	color: #684529;
}
