html
  div.container
    div.row
      div.col
        h1 Reset password
        p Enter your new password below.
       
          form#resetPasswordForm(onsubmit="return false;")
            div.form-group
              label(for="password1") New password:
              input.form-control#password1(type='password', name='password1')
              small.form-text.text-muted Password must be 8 characters or more.
            div.form-group
              label(for="password2") Confirm new password
              input.form-control#password2(type='password', name='password2')
              small.form-text.text-muted Both passwords must match.
            input#emailRp(type='hidden', name='email', value=record.email)
            input#tokenRp(type='hidden', name='token', value=record.token)
            div.form-group
              button#rpButton.btn.btn-success(type='submit') Reset password
 
//-   script.
//-     $('#rpButton').on('click', function() {
//-       $.post('/user/reset-password', {
//-         password1: $('#password1').val(),
//-         password2: $('#password2').val(),
//-         email: $('#emailRp').val(),
//-         token: $('#tokenRp').val()
//-       }, function(resp) {
//-         if (resp.status == 'ok') {
//-           $('.reset-message').removeClass('alert-danger').addClass('alert-success').show().text(resp.message);
//-           $('#resetPasswordForm').remove();
//-         } else {
//-           $('.reset-message').removeClass('alert-success').addClass('alert-danger').show().text(resp.message);
//-         }
//-       });
//-     });
